body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #111;
}
.story {
  padding: 0 1em;
}

.sticky {
  position: fixed;
  top: 0em;
  width: 100%;
}

header {
  background-color: aqua;
}

h2{
  background-color: royalblue;
}
