*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: bottom;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.ul {
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2.5em;
}
